In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('chq_22.csv')

In [7]:
df1 = df

In [12]:
df1

,4-Jan-22,All Steel Roofing & Electricals Inc.,Refer to Drawer,"$ 1,875.00",FCIB #2250,30/12/2021,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,5-Jan-22,Port Express,Refer to Drawer,"$ 11,635.71",BOSL #1324,31/12/2021,NaN,NaN,CUSTOMS & EXCISE,NaN
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,"$ 5,236.20",1NB #6126,7/1/2022,NaN,NaN,COMMERCE,NaN
2,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6872,7/1/2022,NaN,NaN,INLAND REVENUE,NaN
3,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6873,7/1/2022,NaN,NaN,INLAND REVENUE,NaN
4,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.67",RBC #6874,7/1/2022,NaN,NaN,INLAND REVENUE,NaN
...,...,...,...,...,...,...,...,...,...,...
123,20-Dec-22,Verve Inc.,Refer to Drawer,$560.00,RBL #468,16/12/2022,NaN,NaN,NaN,NaN
124,21-Dec-22,Frootsy Foods Limited,No Payee,$225.00,FNB #10069,9/12/2022,PD,1725511,NaN,NaN
125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,"$3,700.10",FCIB #3881,12/12/2022,PD,1726171,INLAND REVENUE,NaN
126,28-Dec-22,Ernst and Young Services,Refer to Maker,"$3,384.27",FNB #307050,19/12/2022,NaN,NaN,INLAND REVENUE,NaN
127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,"$1,077.92",RBL #24,17/12/2022,NaN,NaN,INLAND REVENUE,NaN

In [13]:
df1.columns = ['debited', 'owners', 'reason', 'amount', 'chq_no', 'chq_dt', 'status', 'receipt_no', 'ministry', 'col']

In [14]:
df1

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry,col
0,5-Jan-22,Port Express,Refer to Drawer,"$ 11,635.71",BOSL #1324,31/12/2021,NaN,NaN,CUSTOMS & EXCISE,NaN
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,"$ 5,236.20",1NB #6126,7/1/2022,NaN,NaN,COMMERCE,NaN
2,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6872,7/1/2022,NaN,NaN,INLAND REVENUE,NaN
3,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6873,7/1/2022,NaN,NaN,INLAND REVENUE,NaN
4,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.67",RBC #6874,7/1/2022,NaN,NaN,INLAND REVENUE,NaN
...,...,...,...,...,...,...,...,...,...,...
123,20-Dec-22,Verve Inc.,Refer to Drawer,$560.00,RBL #468,16/12/2022,NaN,NaN,NaN,NaN
124,21-Dec-22,Frootsy Foods Limited,No Payee,$225.00,FNB #10069,9/12/2022,PD,1725511,NaN,NaN
125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,"$3,700.10",FCIB #3881,12/12/2022,PD,1726171,INLAND REVENUE,NaN
126,28-Dec-22,Ernst and Young Services,Refer to Maker,"$3,384.27",FNB #307050,19/12/2022,NaN,NaN,INLAND REVENUE,NaN
127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,"$1,077.92",RBL #24,17/12/2022,NaN,NaN,INLAND REVENUE,NaN

In [25]:
df2 = df1.drop('col', axis=1)

In [16]:
df2

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,Port Express,Refer to Drawer,"$ 11,635.71",BOSL #1324,31/12/2021,NaN,NaN,CUSTOMS & EXCISE
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,"$ 5,236.20",1NB #6126,7/1/2022,NaN,NaN,COMMERCE
2,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6872,7/1/2022,NaN,NaN,INLAND REVENUE
3,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6873,7/1/2022,NaN,NaN,INLAND REVENUE
4,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.67",RBC #6874,7/1/2022,NaN,NaN,INLAND REVENUE
...,...,...,...,...,...,...,...,...,...
123,20-Dec-22,Verve Inc.,Refer to Drawer,$560.00,RBL #468,16/12/2022,NaN,NaN,NaN
124,21-Dec-22,Frootsy Foods Limited,No Payee,$225.00,FNB #10069,9/12/2022,PD,1725511,NaN
125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,"$3,700.10",FCIB #3881,12/12/2022,PD,1726171,INLAND REVENUE
126,28-Dec-22,Ernst and Young Services,Refer to Maker,"$3,384.27",FNB #307050,19/12/2022,NaN,NaN,INLAND REVENUE
127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,"$1,077.92",RBL #24,17/12/2022,NaN,NaN,INLAND REVENUE

In [26]:
df2['ministry'] = df2['ministry'].fillna(value='unknown')

In [18]:
df2

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,Port Express,Refer to Drawer,"$ 11,635.71",BOSL #1324,31/12/2021,NaN,NaN,CUSTOMS & EXCISE
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,"$ 5,236.20",1NB #6126,7/1/2022,NaN,NaN,COMMERCE
2,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6872,7/1/2022,NaN,NaN,INLAND REVENUE
3,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6873,7/1/2022,NaN,NaN,INLAND REVENUE
4,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.67",RBC #6874,7/1/2022,NaN,NaN,INLAND REVENUE
...,...,...,...,...,...,...,...,...,...
123,20-Dec-22,Verve Inc.,Refer to Drawer,$560.00,RBL #468,16/12/2022,NaN,NaN,unknown
124,21-Dec-22,Frootsy Foods Limited,No Payee,$225.00,FNB #10069,9/12/2022,PD,1725511,unknown
125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,"$3,700.10",FCIB #3881,12/12/2022,PD,1726171,INLAND REVENUE
126,28-Dec-22,Ernst and Young Services,Refer to Maker,"$3,384.27",FNB #307050,19/12/2022,NaN,NaN,INLAND REVENUE
127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,"$1,077.92",RBL #24,17/12/2022,NaN,NaN,INLAND REVENUE

In [28]:
df2['receipt_no'] = df2['receipt_no'].fillna(value='-')

In [20]:
df2

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,Port Express,Refer to Drawer,"$ 11,635.71",BOSL #1324,31/12/2021,NaN,-,CUSTOMS & EXCISE
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,"$ 5,236.20",1NB #6126,7/1/2022,NaN,-,COMMERCE
2,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6872,7/1/2022,NaN,-,INLAND REVENUE
3,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6873,7/1/2022,NaN,-,INLAND REVENUE
4,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.67",RBC #6874,7/1/2022,NaN,-,INLAND REVENUE
...,...,...,...,...,...,...,...,...,...
123,20-Dec-22,Verve Inc.,Refer to Drawer,$560.00,RBL #468,16/12/2022,NaN,-,unknown
124,21-Dec-22,Frootsy Foods Limited,No Payee,$225.00,FNB #10069,9/12/2022,PD,1725511,unknown
125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,"$3,700.10",FCIB #3881,12/12/2022,PD,1726171,INLAND REVENUE
126,28-Dec-22,Ernst and Young Services,Refer to Maker,"$3,384.27",FNB #307050,19/12/2022,NaN,-,INLAND REVENUE
127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,"$1,077.92",RBL #24,17/12/2022,NaN,-,INLAND REVENUE

In [29]:
df2

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,Port Express,Refer to Drawer,"$ 11,635.71",BOSL #1324,31/12/2021,NaN,-,CUSTOMS & EXCISE
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,"$ 5,236.20",1NB #6126,7/1/2022,NaN,-,COMMERCE
2,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6872,7/1/2022,NaN,-,INLAND REVENUE
3,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6873,7/1/2022,NaN,-,INLAND REVENUE
4,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.67",RBC #6874,7/1/2022,NaN,-,INLAND REVENUE
...,...,...,...,...,...,...,...,...,...
123,20-Dec-22,Verve Inc.,Refer to Drawer,$560.00,RBL #468,16/12/2022,NaN,-,unknown
124,21-Dec-22,Frootsy Foods Limited,No Payee,$225.00,FNB #10069,9/12/2022,PD,1725511,unknown
125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,"$3,700.10",FCIB #3881,12/12/2022,PD,1726171,INLAND REVENUE
126,28-Dec-22,Ernst and Young Services,Refer to Maker,"$3,384.27",FNB #307050,19/12/2022,NaN,-,INLAND REVENUE
127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,"$1,077.92",RBL #24,17/12/2022,NaN,-,INLAND REVENUE

In [30]:
mask = (df2['receipt_no'] == '-') & (df['status'].isna())
df2.loc[mask, 'status'] = 'UN'

In [31]:
df2

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,Port Express,Refer to Drawer,"$ 11,635.71",BOSL #1324,31/12/2021,UN,-,CUSTOMS & EXCISE
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,"$ 5,236.20",1NB #6126,7/1/2022,UN,-,COMMERCE
2,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6872,7/1/2022,UN,-,INLAND REVENUE
3,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6873,7/1/2022,UN,-,INLAND REVENUE
4,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.67",RBC #6874,7/1/2022,UN,-,INLAND REVENUE
...,...,...,...,...,...,...,...,...,...
123,20-Dec-22,Verve Inc.,Refer to Drawer,$560.00,RBL #468,16/12/2022,UN,-,unknown
124,21-Dec-22,Frootsy Foods Limited,No Payee,$225.00,FNB #10069,9/12/2022,PD,1725511,unknown
125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,"$3,700.10",FCIB #3881,12/12/2022,PD,1726171,INLAND REVENUE
126,28-Dec-22,Ernst and Young Services,Refer to Maker,"$3,384.27",FNB #307050,19/12/2022,UN,-,INLAND REVENUE
127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,"$1,077.92",RBL #24,17/12/2022,UN,-,INLAND REVENUE

In [33]:
count = df2['receipt_no'].isna().sum()

In [34]:
count

0

In [61]:
df3=df2

In [42]:
df3

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,Port Express,Refer to Drawer,"$ 11,635.71",BOSL #1324,31/12/2021,UN,-,CUSTOMS & EXCISE
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,"$ 5,236.20",1NB #6126,7/1/2022,UN,-,COMMERCE
2,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6872,7/1/2022,UN,-,INLAND REVENUE
3,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.66",RBC #6873,7/1/2022,UN,-,INLAND REVENUE
4,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,"$ 72,979.67",RBC #6874,7/1/2022,UN,-,INLAND REVENUE
...,...,...,...,...,...,...,...,...,...
123,20-Dec-22,Verve Inc.,Refer to Drawer,$560.00,RBL #468,16/12/2022,UN,-,unknown
124,21-Dec-22,Frootsy Foods Limited,No Payee,$225.00,FNB #10069,9/12/2022,PD,1725511,unknown
125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,"$3,700.10",FCIB #3881,12/12/2022,PD,1726171,INLAND REVENUE
126,28-Dec-22,Ernst and Young Services,Refer to Maker,"$3,384.27",FNB #307050,19/12/2022,UN,-,INLAND REVENUE
127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,"$1,077.92",RBL #24,17/12/2022,UN,-,INLAND REVENUE

In [62]:
df3['amount']=df3['amount'].str.replace('$', '').str.replace(',', '')

In [63]:
df3

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,Port Express,Refer to Drawer,11635.71,BOSL #1324,31/12/2021,UN,-,CUSTOMS & EXCISE
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,5236.20,1NB #6126,7/1/2022,UN,-,COMMERCE
2,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.66,RBC #6872,7/1/2022,UN,-,INLAND REVENUE
3,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.66,RBC #6873,7/1/2022,UN,-,INLAND REVENUE
4,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.67,RBC #6874,7/1/2022,UN,-,INLAND REVENUE
...,...,...,...,...,...,...,...,...,...
123,20-Dec-22,Verve Inc.,Refer to Drawer,560.00,RBL #468,16/12/2022,UN,-,unknown
124,21-Dec-22,Frootsy Foods Limited,No Payee,225.00,FNB #10069,9/12/2022,PD,1725511,unknown
125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,3700.10,FCIB #3881,12/12/2022,PD,1726171,INLAND REVENUE
126,28-Dec-22,Ernst and Young Services,Refer to Maker,3384.27,FNB #307050,19/12/2022,UN,-,INLAND REVENUE
127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,1077.92,RBL #24,17/12/2022,UN,-,INLAND REVENUE

In [64]:
df3

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,Port Express,Refer to Drawer,11635.71,BOSL #1324,31/12/2021,UN,-,CUSTOMS & EXCISE
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,5236.20,1NB #6126,7/1/2022,UN,-,COMMERCE
2,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.66,RBC #6872,7/1/2022,UN,-,INLAND REVENUE
3,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.66,RBC #6873,7/1/2022,UN,-,INLAND REVENUE
4,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.67,RBC #6874,7/1/2022,UN,-,INLAND REVENUE
...,...,...,...,...,...,...,...,...,...
123,20-Dec-22,Verve Inc.,Refer to Drawer,560.00,RBL #468,16/12/2022,UN,-,unknown
124,21-Dec-22,Frootsy Foods Limited,No Payee,225.00,FNB #10069,9/12/2022,PD,1725511,unknown
125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,3700.10,FCIB #3881,12/12/2022,PD,1726171,INLAND REVENUE
126,28-Dec-22,Ernst and Young Services,Refer to Maker,3384.27,FNB #307050,19/12/2022,UN,-,INLAND REVENUE
127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,1077.92,RBL #24,17/12/2022,UN,-,INLAND REVENUE

In [65]:
df3['chq_no']=df3['chq_no'].str.replace(' ', '').str.strip()

In [66]:
df3

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,Port Express,Refer to Drawer,11635.71,BOSL#1324,31/12/2021,UN,-,CUSTOMS & EXCISE
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,5236.20,1NB#6126,7/1/2022,UN,-,COMMERCE
2,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.66,RBC#6872,7/1/2022,UN,-,INLAND REVENUE
3,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.66,RBC#6873,7/1/2022,UN,-,INLAND REVENUE
4,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.67,RBC#6874,7/1/2022,UN,-,INLAND REVENUE
...,...,...,...,...,...,...,...,...,...
123,20-Dec-22,Verve Inc.,Refer to Drawer,560.00,RBL#468,16/12/2022,UN,-,unknown
124,21-Dec-22,Frootsy Foods Limited,No Payee,225.00,FNB#10069,9/12/2022,PD,1725511,unknown
125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,3700.10,FCIB#3881,12/12/2022,PD,1726171,INLAND REVENUE
126,28-Dec-22,Ernst and Young Services,Refer to Maker,3384.27,FNB#307050,19/12/2022,UN,-,INLAND REVENUE
127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,1077.92,RBL#24,17/12/2022,UN,-,INLAND REVENUE

In [67]:
count_1nb = df3['chq_no'].str.count('1NB').sum()

In [68]:
count_1nb

34.0

In [69]:
df3['chq_no']=df3['chq_no'].str.replace('1NB', 'FNB').str.strip()

In [71]:
count_1nb = df3['chq_no'].str.count('1NB').sum()

In [72]:
count_1nb

0.0

In [82]:
df4=df3

In [84]:
df4['chq_no']=df4['chq_no'].str.replace(' ', '')

In [80]:
df4['chq_no'] = df4['chq_no'].str.strip()

In [85]:
df4

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,Port Express,Refer to Drawer,11635.71,BOSL#1324,31/12/2021,UN,-,CUSTOMS & EXCISE
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,5236.20,1NB#6126,7/1/2022,UN,-,COMMERCE
2,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.66,RBC#6872,7/1/2022,UN,-,INLAND REVENUE
3,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.66,RBC#6873,7/1/2022,UN,-,INLAND REVENUE
4,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.67,RBC#6874,7/1/2022,UN,-,INLAND REVENUE
...,...,...,...,...,...,...,...,...,...
123,20-Dec-22,Verve Inc.,Refer to Drawer,560.00,RBL#468,16/12/2022,UN,-,unknown
124,21-Dec-22,Frootsy Foods Limited,No Payee,225.00,FNB#10069,9/12/2022,PD,1725511,unknown
125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,3700.10,FCIB#3881,12/12/2022,PD,1726171,INLAND REVENUE
126,28-Dec-22,Ernst and Young Services,Refer to Maker,3384.27,FNB#307050,19/12/2022,UN,-,INLAND REVENUE
127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,1077.92,RBL#24,17/12/2022,UN,-,INLAND REVENUE

In [89]:
count_sig = df4['reason'].str.count('Signature').sum()
count_miss = df4['reason'].str.count('Missing').sum()

In [90]:
print(count_sig, count_miss)

13.0 13.0

In [92]:
df4.to_csv('chq_22_cln.csv')

In [102]:
df4

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,Port Express,Refer to Drawer,11635.71,BOSL#1324,31/12/2021,UN,-,CUSTOMS & EXCISE
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,5236.20,1NB#6126,7/1/2022,UN,-,COMMERCE
2,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.66,RBC#6872,7/1/2022,UN,-,INLAND REVENUE
3,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.66,RBC#6873,7/1/2022,UN,-,INLAND REVENUE
4,17-Jan-22,Water and Sewerage Company Inc,Signature Missing,72979.67,RBC#6874,7/1/2022,UN,-,INLAND REVENUE
...,...,...,...,...,...,...,...,...,...
123,20-Dec-22,Verve Inc.,Refer to Drawer,560.00,RBL#468,16/12/2022,UN,-,unknown
124,21-Dec-22,Frootsy Foods Limited,No Payee,225.00,FNB#10069,9/12/2022,PD,1725511,unknown
125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,3700.10,FCIB#3881,12/12/2022,PD,1726171,INLAND REVENUE
126,28-Dec-22,Ernst and Young Services,Refer to Maker,3384.27,FNB#307050,19/12/2022,UN,-,INLAND REVENUE
127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,1077.92,RBL#24,17/12/2022,UN,-,INLAND REVENUE

In [114]:
to_drop = df4[df4['reason'] == 'MAY']

In [115]:
to_drop.index

Index([], dtype='int64')

In [2]:
import pandas as pd

In [23]:
df5 = pd.read_csv('chq_22_clean.csv')

In [25]:
df5=df5.drop(columns='reason_x')

In [5]:
df5['reason']=df5['reason'].str.replace('Signature Missing', 'Missing Signature').str.replace('No Payee', 'Payee Missing')

In [30]:
df5=df5.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])

In [8]:
df5['reason'].unique()

array(['Refer to Drawer', 'Missing Signature', 'Word & Figures Differ',
       'Words & Figures Differ', '-', 'Invalid Routing Number',
       'Stale Dated', 'Payment Stopped', 'Incomplete Date', 'Post Dated ',
       'Post/Stale dated', 'Payee Missing', 'Refer to Maker'],
      dtype=object)

In [9]:
df5['reason']=df5['reason'].str.replace('Word & Figures Differ', 'Figure and amount mismatch').str.replace('Words & Figures Differ', 'Figure and amount mismatch').str.replace('Incomplete Date', 'date missing')

In [31]:
df5

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,Port Express,Refer to Drawer,11635.71,BOSL#1324,31/12/2021,UN,-,CUSTOMS & EXCISE
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,5236.20,1NB#6126,7/1/2022,UN,-,COMMERCE
2,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.66,RBC#6872,7/1/2022,UN,-,INLAND REVENUE
3,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.66,RBC#6873,7/1/2022,UN,-,INLAND REVENUE
4,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.67,RBC#6874,7/1/2022,UN,-,INLAND REVENUE
...,...,...,...,...,...,...,...,...,...
119,20-Dec-22,Verve Inc.,Refer to Drawer,560.00,RBL#468,16/12/2022,UN,-,unknown
120,21-Dec-22,Frootsy Foods Limited,Payee Missing,225.00,FNB#10069,9/12/2022,PD,1725511,unknown
121,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,3700.10,FCIB#3881,12/12/2022,PD,1726171,INLAND REVENUE
122,28-Dec-22,Ernst and Young Services,Refer to Maker,3384.27,FNB#307050,19/12/2022,UN,-,INLAND REVENUE
123,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,1077.92,RBL#24,17/12/2022,UN,-,INLAND REVENUE

In [21]:
df5.to_csv('chq_22_clean.csv')

In [22]:
df5

,Unnamed: 0,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry,reason_x
0,0,5-Jan-22,Port Express,Refer to Drawer,11635.71,BOSL#1324,31/12/2021,UN,-,CUSTOMS & EXCISE,Refer to Drawer
1,1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,5236.20,1NB#6126,7/1/2022,UN,-,COMMERCE,Refer to Drawer
2,2,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.66,RBC#6872,7/1/2022,UN,-,INLAND REVENUE,Missing Signature
3,3,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.66,RBC#6873,7/1/2022,UN,-,INLAND REVENUE,Missing Signature
4,4,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.67,RBC#6874,7/1/2022,UN,-,INLAND REVENUE,Missing Signature
...,...,...,...,...,...,...,...,...,...,...,...
119,123,20-Dec-22,Verve Inc.,Refer to Drawer,560.00,RBL#468,16/12/2022,UN,-,unknown,Refer to Drawer
120,124,21-Dec-22,Frootsy Foods Limited,Payee Missing,225.00,FNB#10069,9/12/2022,PD,1725511,unknown,Payee Missing
121,125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,3700.10,FCIB#3881,12/12/2022,PD,1726171,INLAND REVENUE,Refer to Drawer
122,126,28-Dec-22,Ernst and Young Services,Refer to Maker,3384.27,FNB#307050,19/12/2022,UN,-,INLAND REVENUE,Refer to Maker
123,127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,1077.92,RBL#24,17/12/2022,UN,-,INLAND REVENUE,Refer to Drawer

In [13]:
df5['reason'].unique()

array(['Refer to Drawer', 'Missing Signature',
       'Figure and amount mismatch', '-', 'Invalid Routing Number',
       'Stale Dated', 'Payment Stopped', 'date missing', 'Post Dated ',
       'Post/Stale dated', 'Payee Missing', 'Refer to Maker'],
      dtype=object)

In [19]:
df5['reason_x']=df5['reason'].str.replace('Stale Dated', '6').str.replace('Payment Stopped', '12').str.replace('date missing', '9').str.replace('Post Dated ', '4')

In [20]:
df5

,Unnamed: 0,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry,reason_x
0,0,5-Jan-22,Port Express,Refer to Drawer,11635.71,BOSL#1324,31/12/2021,UN,-,CUSTOMS & EXCISE,Refer to Drawer
1,1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,5236.20,1NB#6126,7/1/2022,UN,-,COMMERCE,Refer to Drawer
2,2,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.66,RBC#6872,7/1/2022,UN,-,INLAND REVENUE,Missing Signature
3,3,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.66,RBC#6873,7/1/2022,UN,-,INLAND REVENUE,Missing Signature
4,4,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.67,RBC#6874,7/1/2022,UN,-,INLAND REVENUE,Missing Signature
...,...,...,...,...,...,...,...,...,...,...,...
119,123,20-Dec-22,Verve Inc.,Refer to Drawer,560.00,RBL#468,16/12/2022,UN,-,unknown,Refer to Drawer
120,124,21-Dec-22,Frootsy Foods Limited,Payee Missing,225.00,FNB#10069,9/12/2022,PD,1725511,unknown,Payee Missing
121,125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,3700.10,FCIB#3881,12/12/2022,PD,1726171,INLAND REVENUE,Refer to Drawer
122,126,28-Dec-22,Ernst and Young Services,Refer to Maker,3384.27,FNB#307050,19/12/2022,UN,-,INLAND REVENUE,Refer to Maker
123,127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,1077.92,RBL#24,17/12/2022,UN,-,INLAND REVENUE,Refer to Drawer

In [29]:
df5

,Unnamed: 0.1,Unnamed: 0,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,0,0,5-Jan-22,Port Express,Refer to Drawer,11635.71,BOSL#1324,31/12/2021,UN,-,CUSTOMS & EXCISE
1,1,1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,5236.20,1NB#6126,7/1/2022,UN,-,COMMERCE
2,2,2,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.66,RBC#6872,7/1/2022,UN,-,INLAND REVENUE
3,3,3,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.66,RBC#6873,7/1/2022,UN,-,INLAND REVENUE
4,4,4,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.67,RBC#6874,7/1/2022,UN,-,INLAND REVENUE
...,...,...,...,...,...,...,...,...,...,...,...
119,119,123,20-Dec-22,Verve Inc.,Refer to Drawer,560.00,RBL#468,16/12/2022,UN,-,unknown
120,120,124,21-Dec-22,Frootsy Foods Limited,Payee Missing,225.00,FNB#10069,9/12/2022,PD,1725511,unknown
121,121,125,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,3700.10,FCIB#3881,12/12/2022,PD,1726171,INLAND REVENUE
122,122,126,28-Dec-22,Ernst and Young Services,Refer to Maker,3384.27,FNB#307050,19/12/2022,UN,-,INLAND REVENUE
123,123,127,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,1077.92,RBL#24,17/12/2022,UN,-,INLAND REVENUE

In [32]:
df5

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,Port Express,Refer to Drawer,11635.71,BOSL#1324,31/12/2021,UN,-,CUSTOMS & EXCISE
1,12-Jan-22,Mannee's Bakery Ltd.,Refer to Drawer,5236.20,1NB#6126,7/1/2022,UN,-,COMMERCE
2,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.66,RBC#6872,7/1/2022,UN,-,INLAND REVENUE
3,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.66,RBC#6873,7/1/2022,UN,-,INLAND REVENUE
4,17-Jan-22,Water and Sewerage Company Inc,Missing Signature,72979.67,RBC#6874,7/1/2022,UN,-,INLAND REVENUE
...,...,...,...,...,...,...,...,...,...
119,20-Dec-22,Verve Inc.,Refer to Drawer,560.00,RBL#468,16/12/2022,UN,-,unknown
120,21-Dec-22,Frootsy Foods Limited,Payee Missing,225.00,FNB#10069,9/12/2022,PD,1725511,unknown
121,21-Dec-22,J.E. Maxwell & Company Ltd.,Refer to Drawer,3700.10,FCIB#3881,12/12/2022,PD,1726171,INLAND REVENUE
122,28-Dec-22,Ernst and Young Services,Refer to Maker,3384.27,FNB#307050,19/12/2022,UN,-,INLAND REVENUE
123,29-Dec-22,Clean Ops Service Company (COSC) Inc.,Refer to Drawer,1077.92,RBL#24,17/12/2022,UN,-,INLAND REVENUE

In [33]:
df5['owners'] = df5['owners'].str.lower()

In [35]:
df5['reason'] = df5['reason'].str.lower()

In [37]:
df6=df5

In [38]:
df6['ministry'] = df6['ministry'].str.lower()
df6['status'] = df6['status'].str.lower()

In [39]:
df6

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,port express,refer to drawer,11635.71,BOSL#1324,31/12/2021,un,-,customs & excise
1,12-Jan-22,mannee's bakery ltd.,refer to drawer,5236.20,1NB#6126,7/1/2022,un,-,commerce
2,17-Jan-22,water and sewerage company inc,missing signature,72979.66,RBC#6872,7/1/2022,un,-,inland revenue
3,17-Jan-22,water and sewerage company inc,missing signature,72979.66,RBC#6873,7/1/2022,un,-,inland revenue
4,17-Jan-22,water and sewerage company inc,missing signature,72979.67,RBC#6874,7/1/2022,un,-,inland revenue
...,...,...,...,...,...,...,...,...,...
119,20-Dec-22,verve inc.,refer to drawer,560.00,RBL#468,16/12/2022,un,-,unknown
120,21-Dec-22,frootsy foods limited,payee missing,225.00,FNB#10069,9/12/2022,pd,1725511,unknown
121,21-Dec-22,j.e. maxwell & company ltd.,refer to drawer,3700.10,FCIB#3881,12/12/2022,pd,1726171,inland revenue
122,28-Dec-22,ernst and young services,refer to maker,3384.27,FNB#307050,19/12/2022,un,-,inland revenue
123,29-Dec-22,clean ops service company (cosc) inc.,refer to drawer,1077.92,RBL#24,17/12/2022,un,-,inland revenue

In [40]:
df6['chq_no'] = df6['chq_no'].str.lower()

In [41]:
df6

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,port express,refer to drawer,11635.71,bosl#1324,31/12/2021,un,-,customs & excise
1,12-Jan-22,mannee's bakery ltd.,refer to drawer,5236.20,1nb#6126,7/1/2022,un,-,commerce
2,17-Jan-22,water and sewerage company inc,missing signature,72979.66,rbc#6872,7/1/2022,un,-,inland revenue
3,17-Jan-22,water and sewerage company inc,missing signature,72979.66,rbc#6873,7/1/2022,un,-,inland revenue
4,17-Jan-22,water and sewerage company inc,missing signature,72979.67,rbc#6874,7/1/2022,un,-,inland revenue
...,...,...,...,...,...,...,...,...,...
119,20-Dec-22,verve inc.,refer to drawer,560.00,rbl#468,16/12/2022,un,-,unknown
120,21-Dec-22,frootsy foods limited,payee missing,225.00,fnb#10069,9/12/2022,pd,1725511,unknown
121,21-Dec-22,j.e. maxwell & company ltd.,refer to drawer,3700.10,fcib#3881,12/12/2022,pd,1726171,inland revenue
122,28-Dec-22,ernst and young services,refer to maker,3384.27,fnb#307050,19/12/2022,un,-,inland revenue
123,29-Dec-22,clean ops service company (cosc) inc.,refer to drawer,1077.92,rbl#24,17/12/2022,un,-,inland revenue

In [42]:
df6.to_csv('chq_22_clean_6.csv')

In [44]:
df6['reason_x']=df6['reason'].str.replace('Post/Stale dated','stale dated')

In [45]:
df6

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry,reason_x
0,5-Jan-22,port express,refer to drawer,11635.71,bosl#1324,31/12/2021,un,-,customs & excise,refer to drawer
1,12-Jan-22,mannee's bakery ltd.,refer to drawer,5236.20,1nb#6126,7/1/2022,un,-,commerce,refer to drawer
2,17-Jan-22,water and sewerage company inc,missing signature,72979.66,rbc#6872,7/1/2022,un,-,inland revenue,missing signature
3,17-Jan-22,water and sewerage company inc,missing signature,72979.66,rbc#6873,7/1/2022,un,-,inland revenue,missing signature
4,17-Jan-22,water and sewerage company inc,missing signature,72979.67,rbc#6874,7/1/2022,un,-,inland revenue,missing signature
...,...,...,...,...,...,...,...,...,...,...
119,20-Dec-22,verve inc.,refer to drawer,560.00,rbl#468,16/12/2022,un,-,unknown,refer to drawer
120,21-Dec-22,frootsy foods limited,payee missing,225.00,fnb#10069,9/12/2022,pd,1725511,unknown,payee missing
121,21-Dec-22,j.e. maxwell & company ltd.,refer to drawer,3700.10,fcib#3881,12/12/2022,pd,1726171,inland revenue,refer to drawer
122,28-Dec-22,ernst and young services,refer to maker,3384.27,fnb#307050,19/12/2022,un,-,inland revenue,refer to maker
123,29-Dec-22,clean ops service company (cosc) inc.,refer to drawer,1077.92,rbl#24,17/12/2022,un,-,inland revenue,refer to drawer

In [46]:
df6['reason'].unique()

array(['refer to drawer', 'missing signature',
       'figure and amount mismatch', '-', 'invalid routing number',
       'stale dated', 'payment stopped', 'date missing', 'post dated ',
       'post/stale dated', 'payee missing', 'refer to maker'],
      dtype=object)

In [47]:
df6['reason']=df6['reason'].str.replace('Post/Stale dated','stale dated')

In [48]:
df6['reason'].unique()

array(['refer to drawer', 'missing signature',
       'figure and amount mismatch', '-', 'invalid routing number',
       'stale dated', 'payment stopped', 'date missing', 'post dated ',
       'post/stale dated', 'payee missing', 'refer to maker'],
      dtype=object)

In [49]:
df7=pd.read_csv('chq_22_clean_6.csv')

In [51]:
df7.drop(columns=['Unnamed: 0'], inplace=True)

In [52]:
df7

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,port express,refer to drawer,11635.71,bosl#1324,31/12/2021,un,-,customs & excise
1,12-Jan-22,mannee's bakery ltd.,refer to drawer,5236.20,1nb#6126,7/1/2022,un,-,commerce
2,17-Jan-22,water and sewerage company inc,missing signature,72979.66,rbc#6872,7/1/2022,un,-,inland revenue
3,17-Jan-22,water and sewerage company inc,missing signature,72979.66,rbc#6873,7/1/2022,un,-,inland revenue
4,17-Jan-22,water and sewerage company inc,missing signature,72979.67,rbc#6874,7/1/2022,un,-,inland revenue
...,...,...,...,...,...,...,...,...,...
119,20-Dec-22,verve inc.,refer to drawer,560.00,rbl#468,16/12/2022,un,-,unknown
120,21-Dec-22,frootsy foods limited,payee missing,225.00,fnb#10069,9/12/2022,pd,1725511,unknown
121,21-Dec-22,j.e. maxwell & company ltd.,refer to drawer,3700.10,fcib#3881,12/12/2022,pd,1726171,inland revenue
122,28-Dec-22,ernst and young services,refer to maker,3384.27,fnb#307050,19/12/2022,un,-,inland revenue
123,29-Dec-22,clean ops service company (cosc) inc.,refer to drawer,1077.92,rbl#24,17/12/2022,un,-,inland revenue

In [53]:
df7['reason'].unique()

array(['refer to drawer', 'missing signature',
       'figure and amount mismatch', '-', 'invalid routing number',
       'stale dated', 'payment stopped', 'date missing', 'post dated ',
       'post/stale dated', 'payee missing', 'refer to maker'],
      dtype=object)

In [54]:
df7['reason']=df7['reason'].str.replace('post/stale dated','stale dated')

In [55]:
df7['reason'].unique()

array(['refer to drawer', 'missing signature',
       'figure and amount mismatch', '-', 'invalid routing number',
       'stale dated', 'payment stopped', 'date missing', 'post dated ',
       'payee missing', 'refer to maker'], dtype=object)

In [58]:
df7['reason'].describe()

count                 124
unique                 11
top       refer to drawer
freq                   63
Name: reason, dtype: object

In [59]:
df7['reason']=df7['reason'].str.replace('-','refer to drawer')

In [60]:
df7['reason'].unique()

array(['refer to drawer', 'missing signature',
       'figure and amount mismatch', 'invalid routing number',
       'stale dated', 'payment stopped', 'date missing', 'post dated ',
       'payee missing', 'refer to maker'], dtype=object)

In [61]:
df7.to_csv('chq_22_clean_8.csv')

In [62]:
df7['chq_dt'].describe()

count          124
unique          88
top       7/1/2022
freq             7
Name: chq_dt, dtype: object

In [77]:
df7['status']=df7['status'].str.replace('pd','paid')

In [76]:
df7

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,port express,refer to drawer,11635.71,bosl#1324,31/12/2021,unpaid,-,customs & excise
1,12-Jan-22,mannee's bakery ltd.,refer to drawer,5236.20,1nb#6126,7/1/2022,unpaid,-,commerce
2,17-Jan-22,water and sewerage company inc,missing signature,72979.66,rbc#6872,7/1/2022,unpaid,-,inland revenue
3,17-Jan-22,water and sewerage company inc,missing signature,72979.66,rbc#6873,7/1/2022,unpaid,-,inland revenue
4,17-Jan-22,water and sewerage company inc,missing signature,72979.67,rbc#6874,7/1/2022,unpaid,-,inland revenue
...,...,...,...,...,...,...,...,...,...
119,20-Dec-22,verve inc.,refer to drawer,560.00,rbl#468,16/12/2022,unpaid,-,unknown
120,21-Dec-22,frootsy foods limited,payee missing,225.00,fnb#10069,9/12/2022,pd,1725511,unknown
121,21-Dec-22,j.e. maxwell & company ltd.,refer to drawer,3700.10,fcib#3881,12/12/2022,pd,1726171,inland revenue
122,28-Dec-22,ernst and young services,refer to maker,3384.27,fnb#307050,19/12/2022,unpaid,-,inland revenue
123,29-Dec-22,clean ops service company (cosc) inc.,refer to drawer,1077.92,rbl#24,17/12/2022,unpaid,-,inland revenue

In [ ]:
df8=df7

In [74]:
df8.to_csv('chq_22_clean_8.csv')

In [79]:
df7['status'].describe()

count      121
unique       3
top       paid
freq        61
Name: status, dtype: object

In [80]:
df7['status'].unique()

array(['unpaid', 'paid', nan, 'rt'], dtype=object)

In [81]:
df7['status']=df7['status'].str.replace('nan','paid').str.replace('rt','returned')

In [82]:
df8=df7

In [103]:
df8.to_csv('chq_22_clean_8.csv')

In [85]:
df7['ministry'].unique()

array(['customs & excise', 'commerce', 'inland revenue', 'unknown',
       'supreme court', 'sub-accountant vieux-fort', 'infrastructure',
       'registry of companies', 'sub-accountant vieux fort',
       'postmaster general', 'printry', 'customs &excise', 'planning',
       'inland revenue '], dtype=object)

In [86]:
df7['ministry'].describe()

count                124
unique                14
top       inland revenue
freq                  46
Name: ministry, dtype: object

In [87]:
df7['ministry']=df7['ministry'].str.replace('customs &excise','customs & excise').str.replace('unknown','inland revenue ')

In [88]:
df7['ministry'].unique()

array(['customs & excise', 'commerce', 'inland revenue',
       'inland revenue ', 'supreme court', 'sub-accountant vieux-fort',
       'infrastructure', 'registry of companies',
       'sub-accountant vieux fort', 'postmaster general', 'printry',
       'planning'], dtype=object)

In [90]:
df7['ministry']=df7['ministry'].str.replace('inland revenue ','inland revenue')

In [96]:
df7['ministry'].unique()

array(['customs & excise', 'commerce', 'inland revenue', 'supreme court',
       'sub-accountant vieux-fort', 'infrastructure',
       'registry of companies', 'postmaster general', 'printry',
       'planning'], dtype=object)

In [105]:
df8=df7

In [94]:
df7['ministry']=df7['ministry'].str.replace('sub-accountant vieux fort','sub-accountant vieux-fort')

In [99]:
df7['owners'].unique()

array(['port express', "mannee's bakery ltd.",
       'water and sewerage company inc', 'ba law chambers inc.',
       'federal express-st.lucia limited', 'pals marketinginc.',
       'avant-blue medical clinic inc.', 'sylvester anthony chambers',
       "mannee's bakery ltd", 'mango sportwear limited', 'andie george',
       'nj & co. corporate mgmt. srvcs. ltd.',
       'neal james - t/a platinum car & jeep rental',
       'raj maraj international agencies', 'unknown',
       'trans caribbean 2000 ltd', 'west technology group inc.',
       'gill rudolph boriel', 'healing mini spar', "elena's ice cream",
       'skiltech limited', 'gid services inc.',
       'united shipping agencies', 'emagine solutions inc.',
       'frootsy foods limited',
       'davison harris &/ or chrisie harris- destiny lounge',
       'forest springs limited', 'ultramart inc.',
       'sandals grande st.lucian ', 'creative smiles',
       'supreme foods ltd', 'caribbean metals limited', 'ramniz limited',
       'james enterprises limited', 'mango sportswear limited',
       'liberty nursing & support services ',
       'alvin st. clair "chambers a/c"', 'george f. charlemagne chambers',
       'omar davis', 'timothy e. st. catherine', 'bertlyn g. reynolds',
       "fred's lumber and supplies limited", 'konnect global logistics',
       'peter constable ', 'super serv ltd.', 'tropic builders ltd.',
       'st. louise property ltd.',
       'engineering construction & management consulting ltd.',
       "vern gill chambers client's a/c", 'flora fevrier',
       'peter constable', 'finishline constructuion & interiors ltd.',
       'supreme foods ltd.', 'prestige suites',
       'kleydun consulting services inc.',
       'guyana & trinidad mutual life insurance',
       "zavee's wholesale & retail", 'printzone',
       'elibox equipment limited', 'daher broadcasting service ltd.',
       'vinmar investments ltd', 'all luxury properties ltd.',
       'vision express co. ltd.',
       'floissac fleming & associates "chambers account"',
       'paramount holdings limited',
       "nicholas eugene - t/a bell's security ", 'beachcomber ltd.',
       'water and sewerage company inc.', 'detour co. ltd.',
       'freight services & distributors ltd.',
       'construction and recycling inc.',
       'caribbean consulting engineers st. lucia ltd.',
       'renwick & company ltd.', 'eusebius &/or everil alexander',
       'pierre, mondesir & associates chambers - attorneys at law',
       'a.e.p & sons limited', 'cynthia combie-martyr - (client a/c)',
       'para-legal world plus', 'amd ltd.', 'st. louise property ltd',
       'body delights', 'lavinia dunkley-adjodha',
       'sanitex essential services', "the holy family children's home",
       'tiles plus limited', 'sixtus henry', 'brender portland-reynolds',
       'verve inc.', 'frootsy  foods limited',
       'j.e. maxwell & company ltd.', 'ernst and young services',
       'clean ops service company (cosc) inc.'], dtype=object)

In [107]:
df7['status']=df7['status'].str.replace('un','unpaid')

In [113]:
df7

,debited,owners,reason,amount,chq_no,chq_dt,status,receipt_no,ministry
0,5-Jan-22,port express,refer to drawer,11635.71,bosl#1324,31/12/2021,unpaid,-,customs & excise
1,12-Jan-22,mannee's bakery ltd.,refer to drawer,5236.20,1nb#6126,7/1/2022,unpaid,-,commerce
2,17-Jan-22,water and sewerage company inc,missing signature,72979.66,rbc#6872,7/1/2022,unpaid,-,inland revenue
3,17-Jan-22,water and sewerage company inc,missing signature,72979.66,rbc#6873,7/1/2022,unpaid,-,inland revenue
4,17-Jan-22,water and sewerage company inc,missing signature,72979.67,rbc#6874,7/1/2022,unpaid,-,inland revenue
...,...,...,...,...,...,...,...,...,...
119,20-Dec-22,verve inc.,refer to drawer,560.00,rbl#468,16/12/2022,unpaid,-,inland revenue
120,21-Dec-22,frootsy foods limited,payee missing,225.00,fnb#10069,9/12/2022,paid,1725511,inland revenue
121,21-Dec-22,j.e. maxwell & company ltd.,refer to drawer,3700.10,fcib#3881,12/12/2022,paid,1726171,inland revenue
122,28-Dec-22,ernst and young services,refer to maker,3384.27,fnb#307050,19/12/2022,unpaid,-,inland revenue
123,29-Dec-22,clean ops service company (cosc) inc.,refer to drawer,1077.92,rbl#24,17/12/2022,unpaid,-,inland revenue

In [117]:
df7['status'] = df7['status'].fillna('unpaid')

In [120]:
df7['ministry'].unique()

array(['customs & excise', 'commerce', 'inland revenue', 'supreme court',
       'sub-accountant vieux-fort', 'infrastructure',
       'registry of companies', 'postmaster general', 'printry',
       'planning'], dtype=object)

In [119]:
df7.to_csv('chq_22_clean_8.csv')